{* Latte template *}

{block content}


<div class="alert alert-warning" style="margin: 50px; padding:50px">
    <h4><strong>Access restricted</strong></h4>
    <p>You have not access to this section</p>
</div>



{/block}