<ul class="top-links list-inline pull-right">
    <li class="hidden-xs"><a href="{plink :Common:Sign:in}">{_'LOGIN',1}</a></li>
    <li class="hidden-xs"><a href="{plink :Common:Register:}">{_'REGISTER',1}</a></li>
</ul>