#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
php:
    date.timezone: Europe/Prague
http:
    frames: false

parameters:
    app:
        https: false
        log_level: NOTICE
    session:
        autoStart: true  # výchozí je smart
        expiration: 10 days
        name: pharocom
doctrine:
    user: cms
    password: cms
    dbname: pharo_cms
    metadata:
        App: %appDir%
extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    debugger.session: Kdyby\SessionPanel\DI\SessionPanelExtension
#    facebook: Kdyby\Facebook\DI\FacebookExtension
application:
  errorPresenter: Error
  mapping:
    *: App\*Module\Presenters\*Presenter


session:
  expiration: 14 days


services:
  # system services
    entityManager: @Kdyby\Doctrine\EntityManager
    router: App\RouterFactory::createRouter
