parameters:
	templateName: pharocom

database:
	dsn: 'mysql:host=127.0.0.1;dbname=pharo_cms'
	user: cms
	password: cms
	options:
		lazy: yes
services:
#    cacheStorage: Nette\Caching\Storages\DevNullStorage # disable file cache for developement
    cacheStorage: Nette\Caching\Storages\FileStorage(%tempDir%) # disable file cache for developement