
database:
	dsn: 'mysql:host=127.0.0.1;dbname=pharo_cms'
	user: cms
	password: cms
	options:
		lazy: yes
services:
    cacheStorage: Nette\Caching\Storages\DevNullStorage # disable file cache for developement
#    cacheStorage: Nette\Caching\Storages\FileStorage(%tempDir%) # disable file cache for developement
parameters:
    templateName: pharocom
    app:
        languages_list: [1,2]
        languages_names: ['CZ','EN']
        mailer_def_from: 'tomas@caw.cz'


