{block content}


<!-- page title -->
<header id="page-header">
    <h1>Forum DashBoard</h1>
</header>
<!-- /page title -->
<div id="content" class="padding-20">
    <div class="row">
        <div class="col-lg-10 col-md-10">
            <div class="panel panel-default">
                
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>

{/block}
{block admin_bottom_scripts}



{/block}

