<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>{ifset title}{include title|striptags} | {/ifset} LOS GAUČOS </title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="Author" content="LOS GAUCOS" />
        <!-- mobile settings -->
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
        {include '../@theme_scripts.latte'}
    </head>
    <body class="smoothscroll enable-animation boxed">
        <!-- wrapper -->
        <div id="wrapper">
            <!-- Top Bar -->
            <div id="topBar">
                <div class="container">
                    <!-- right -->
                    {control userBox}
                </div>
            </div>
            <!-- /Top Bar -->
            <div id="header" class="sticky clearfix">
                <!-- TOP NAV -->
                <header id="topNav">
                    <div class="container">

                        <!-- Mobile Menu Button -->
                        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                            <i class="fa fa-bars"></i>
                        </button>

                        {include '../Eshop/@cart.latte'}

                        <!-- Logo -->
                        <a class="logo pull-left" href="/">
                            LOS GAUCOS
                        </a>


                        <div class="navbar-collapse pull-left nav-main-collapse collapse submenu-dark">
                            <nav class="nav-main">
                                {include '../@menu.latte'}
                            </nav>
                        </div>

                    </div>
                </header>
                <!-- /Top Nav -->
            </div>
            <section class="page-header dark page-header-xs shadow-after-1">
                <div class="container">

                    <h1>{_'Glosy (nejen) o hokeji',1}</h1>

                    <!-- breadcrumbs -->
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Blog</a></li>
                        <li class="active">Right Sidebar</li>
                    </ol><!-- /breadcrumbs -->

                </div>
            </section>
            <!-- /PAGE HEADER -->
            {if !in_array($module,$modulesWithSlideshow)}
                <!-- HOME -->
                <section id="home" class="height-450" style="background:url('/themes/_data/img/cropped-ice-hockey.jpg')">
                    <div class="display-table">
                        <div class="display-table-cell vertical-align-middle">
                            <div class="container text-center slider-featured-text">
                                <h1 class="text-white nomargin size-50 weight-300 wow fadeInUp animated bold" data-wow-delay="0.4s">{_'Los Gaučos - fandíme v sedě',1}</h1>
                                <p class="text-white lead font-lato size-30 wow fadeInUp animated bold" data-wow-delay="0.7s">{_'Glosy (nejen) o hokeji',1}</p>
                            </div>

                        </div>
                    </div>
                </section>
                <!-- /HOME -->
            {/if}
            <!-- -->
            <section>
                <div class="container">
                    <div class="row">
                        {snippet flashes}
                            <div n:foreach="$flashes as $flash" 
                                 class="text-center alert alert-{$flash->type == 'error' ? 'danger' : $flash->type} margin-bottom-30 fade in">
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">×</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                {$flash->message}
                            </div>
                        {/snippet}
                        {include full_content}

                    </div>
                </div>
            </section>
            <!-- / -->
            <!-- FOOTER -->
            <footer id="footer">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
                <div class="copyright">
                    <div class="container">
                        {*<ul class="pull-right nomargin list-inline mobile-block">
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li>&bull;</li>
                            <li><a href="#">Privacy</a></li>
                        </ul>*}
                        &copy; All Rights Reserved, <a href="http://www.pharocom.com" class="newtab">pharoCom s.r.o</a>
                    </div>
                </div>
            </footer>
            <!-- /FOOTER -->
        </div>
        <!-- /wrapper -->
        <a href="#" id="toTop"></a>
        <div id="preloader">
            <div class="inner">
                <span class="loader"></span>
            </div>
        </div>
        <script type="text/javascript">var plugin_path = '<?php echo $baseThemePath;?>/assets/plugins/';</script>
        <script type="text/javascript" src="{$baseThemePath}assets/plugins/jquery/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="{$baseThemePath}assets/js/scripts.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.delete_post').on('click', function () {
                    return confirm({_'Really delete? Are you sure?'});
                });
            });
        </script>
        {block front_javascript}
        
        
        {/block}
        
        
        
    </body>
</html>