/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5.11.2016, 18:00:42
    Author     : hippo
*/


.beredbg {
    background-color: #DD4B39;
}
.begreenbg {
    background-color: #008200;
}

