{* Latte template *}

{block content}
<div class="col-md-3 col-md-push-9">

    <!-- INLINE SEARCH -->
    <div class="inline-search clearfix margin-bottom-60">
        <form action="" method="get" class="widget_search">
            <input type="search" placeholder="Search Forum..." id="s" name="s" class="serch-input">
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
    <!-- /INLINE SEARCH -->
    <!-- SIGNED IN -->
    <h5 class="bold nomargin-bottom">
        <small class="pull-right size-14 weight-300">(signed in)</small>
        Welcome, {}
    </h5>
    <!-- SIDE NAV -->
    <ul class="side-nav list-group margin-bottom-80" id="sidebar-nav">
        <li class="list-group-item active"><a href="page-profile.html"><i class="fa fa-eye"></i> PROFILE</a></li>
        <li class="list-group-item"><a href="page-profile-comments.html"><i class="fa fa-comments-o"></i> COMMENTS</a></li>
        <li class="list-group-item"><a href="page-profile-history.html"><i class="fa fa-history"></i> HISTORY</a></li>
        <li class="list-group-item"><a href="page-profile-settings.html"><i class="fa fa-gears"></i> SETTINGS</a></li>
        <li class="list-group-item"><a href="#"><i class="fa fa-power-off"></i> LOG OUT</a></li>
    </ul><!-- /SIDE NAV -->
    <!-- /SIGNED IN -->

</div>

<!-- LEFT -->
<div class="col-md-9 col-md-pull-3">

    {foreach $posts as $ket => $post }
        {var $userPost = $presenter->getUserDataForForum($post->id_user)}
        <!-- post -->
        <div class="clearfix margin-bottom-60">
            <div class="border-bottom-1 border-top-1 padding-10">
                <span class="pull-right size-11 margin-top-3 text-muted">{$post->date_release|date:'d.m. Y H:i:s'}</span>
                <strong>{$userPost['display_name']}</strong>
            </div>
            <div class="block-review-content">
                <div class="block-review-body">
                    <div class="block-review-avatar text-center">
                        <div class="push-bit">
                            <a href="page-profile.html">
                                <img src="{$userPost['avatar']}" width="100" alt="avatar">
                            </a>
                        </div>
                        <small class="block">admin</small>
                        <small class="block">473 Posts</small>
                        <hr />
                        <div class="rating rating-4 size-13"><!-- rating-0 ... rating-5 --></div>
                    </div>
                    <p>
                        {$post->post_content|noescape}
                    </p>
                    <em>- {$userPost['signature']}</em>
                </div>
            </div>
        </div>
        <div class="border-bottom-1 border-top-1 padding-10 text-right">
            <span class="margin-top-3">
                <a href="{plink :Forum:Forum:default}?command=answer&amp;answer_id={$post->id}#replay_post" class="btn  btn-3d btn-xs btn-primary btn-reveal">
                    <i class="et-megaphone"></i>
                    <span>Answer</span>
                </a>
            </span>
        </div>
        <!-- /post -->

    {/foreach}


    <!-- pagination -->
    <div class="text-center">
        <ul class="pagination">
            {for $i = 1; $i <= $totalPosts; $i++}
                {if $i == $page}
                    <li class="active"><a href="#">{$i}</a></li>
                    {else}
                    <li><a href="{link Forum:default $i, $totalPosts}">{$i}</a></li>
                    {/if}
                {/for}
        </ul>
    </div>
    <!-- /pagination -->

    <!-- post -->
    <div class="clearfix margin-bottom-60" id="replay_post">
        <div class="border-bottom-1 border-top-1 padding-10">
            <span class="pull-right size-11 margin-top-3 text-muted">today</span>
            <strong>LEAVE A REPLY</strong></a>
        </div>
        {control addPostForm}

    </div>
    <!-- /post -->



</div>
{/block}
